.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    padding: 1% 2%;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 0 5px #000;
    background: linear-gradient(to left, #ffcc11, #ff8c00, #ffcc11);
    align-items: center;
}

.text {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin: 0px 20px;
}

.icon {
    width: 16px;
    vertical-align: middle;
    margin-right: 1em;
    transition: 2s;
}

.icon:hover {
    transform: rotate(1440deg);
}

.socialList:hover {
    color: #fff;
}

.socialList {
    display: inline;
    vertical-align: middle;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 0px 0px 5px #fff;
}