.card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px black;
    margin: 2% 10px;
    width: 380px;
    width: 20rem;
    max-width: 100%;
}

.imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: 2%;
}

.list {
    line-height: 1.5em;
    padding: 2%;
    margin: 1% 0%;
    text-align: left;
    margin-left: 3rem;
    list-style: square;
    list-style-position: inside;
}

.button {
    margin: auto auto 5% auto;
    border-radius: 10px;
    background-color: #25d366cc;
    color: black;
    width: 75%;
    font-weight: bold;
    box-shadow: -2px -2px 5px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #fff;
    color: #188f44;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.buttonIcon {
    width: 32px;
    padding: 2%;
    margin-right: 2%;
}