.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.item {
    text-align: center;
    font-weight: bold;
    font-size: large;
    transition: 0.2s;
    border: 2px solid #000;
    width: 20rem;
    padding: 2% 2%;
    margin: 20px 10px;
    box-shadow: 2px 2px 2px #000;
    background: #000;
}

.item:hover {
    transform: scale(1.1);
}

.link {
    color: #fff;
    transition: 0.3s;
}

.link:hover {
    color: #ff8c00;
}

@media screen and (max-width: 420px) {
    .item {
        width: 80%;
        margin: 10px auto;
    }
}